<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
        <suite name = "Products Management" verbose="1" >
    <test name = "Create New Ad [Chrome]" >
    <parameter name="browser" value="chrome" />
    <!--configure test to execute testing script using Chrome browser-->
    <classes>
        <class name="com.work.test.tests.CreateAd"/>
    </classes>
</test>

        <!--Prepare test for firefox and IE browsers-->

        </suite>